@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  color: #e8e6e3;
  font-family: 'system-ui, -apple-system', sans-serif;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}

.regular-font {
  font-family: "Kdam Thmor Pro", sans-serif,
}

.noto-font {
  font-family: "Noto Sans Display", sans-serif;
}

.outlined-text {
  color: #121212;
  -webkit-text-stroke: 2px #e8e6e3;
}

.outlined-thin-text {
  color: #121212;
  -webkit-text-stroke: .8px #e8e6e3;
}

.landing-page {
  animation: dreams .8s ease forwards;
}

p,
a {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

@keyframes dreams {
  from {
    transform: translateY(-60px);
  }

  to {
    transform: translateY(0);
  }
}

.with {
  animation: with .8s ease forwards;
}

@keyframes with {
  from {
    transform: translateX(-60px);
  }

  to {
    transform: translateX(0);
  }
}

.pursuit {
  animation: pursuit .8s ease forwards;
}

@keyframes pursuit {
  from {
    transform: translateX(-60px);
  }

  to {
    transform: translateX(0);
  }
}

.lp-buttons {
  font-family: 'Roboto', sans-serif;
  transition: opacity .8s ease-in-out, background-color .17s ease-in-out, box-shadow .17s ease-in-out, color .17s ease-in-out, border .17s ease-in-out;
  animation: lp-buttons .8s ease forwards;
}

.welcome-buttons {
  transition: opacity .8s ease-in-out, background-color .17s ease-in-out, box-shadow .17s ease-in-out, color .17s ease-in-out, border .17s ease-in-out;
}

.welcome-buttons:hover,
.lp-buttons:hover {
  box-shadow: 0 0 20px rgba(232, 230, 227, .5);
}

@keyframes lp-buttons {
  0% {
    transform: translateY(60px);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0);
  }
}

.developer {
  animation: developer .8s ease forwards;
}

@keyframes developer {
  from {
    transform: translateY(30px);
  }

  to {
    transform: translateY(0);
  }
}

.img {
  animation: img .9s ease forwards;
}

@keyframes img {
  from {
    transform: translateX(30px);
  }

  to {
    transform: translateX(0);
  }
}

.nav-link {
  position: relative;
}

.nav-link::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #b4b3b0;
  transition: height .15s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-link-hover {
  box-shadow: 0 0 40px rgba(232, 230, 227, .5);
}

.nav-link:hover::after {
  height: 2px;
}

.footer-link {
  position: relative;
}

.footer-link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgb(31, 31, 31);
  transition: height .18s ease-in-out;
}

.footer-link:hover::after {
  height: 3px;
}