@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
  color: #e8e6e3;
  font-family: 'system-ui, -apple-system', sans-serif;
}

.outlined-text {
  color: #e8e6e3;
  -webkit-text-stroke: 2px black;
}

.outlined-thin-text {
  color: #e8e6e3;
  -webkit-text-stroke: .4px black;
}


.landing-page {
  animation: dreams .8s ease forwards;
}

.right-nav,
button,
p,
a {
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

@keyframes dreams {
  from {
    transform: translateY(-60px);
  }

  to {
    transform: translateY(0);
  }
}

.with {
  animation: with .8s ease forwards;
}

@keyframes with {
  from {
    transform: translateX(-60px);
  }

  to {
    transform: translateX(0);
  }
}

.pursuit {
  animation: pursuit .8s ease forwards;
}

@keyframes pursuit {
  from {
    transform: translateX(-60px);
  }

  to {
    transform: translateX(0);
  }
}

.lp-buttons {
  font-family: 'Roboto', sans-serif;
  transition: opacity .8s ease-in-out, background-color .1s ease-in-out;
  animation: lp-buttons .8s ease forwards;
}

@keyframes lp-buttons {
  0% {
    transform: translateY(60px);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0);
  }
}

.developer {
  transition: opacity .8s ease-in-out, background-color .1s ease-in-out;
  animation: developer .8s ease forwards;
}

@keyframes developer {
  from {
    transform: translateY(30px);
  }

  to {
    transform: translateY(0);
  }
}

.img {
  animation: img .9s ease forwards;
}

@keyframes img {
  from {
    transform: translateX(30px);
  }

  to {
    transform: translateX(0);
  }
}